<!-- about.html -->
	<div>
		<h1>About</h1>
		<p>Edit Band Biography</p>

		<form name="aboutpage" action="#" method="POST">
			<textarea cols="100" rows="20" name="bio">Arcade Fire is an indie rock band based in Montreal, Quebec, Canada, consisting of husband and wife Win Butler and Régine Chassagne, along with Win's brother Will Butler, Richard Reed Parry, Tim Kingsbury and Jeremy Gara. The band's current touring line-up also includes former core member Sarah Neufeld, frequent collaborator Owen Pallett, and two additional percussionists, Diol Edmond and Tiwill Duprate.

Founded in 2001 by friends and classmates Win Butler and Josh Deu, the band came to prominence in 2004 with the release of their critically acclaimed debut album Funeral, and has won numerous awards, including the 2011 Grammy for Album of the Year (they hold the distinction of being the only musical group to have won their first and only Grammy in that category), the 2011 Juno Award for Album of the Year, and the 2011 Brit Award for Best International Album for their third studio album, The Suburbs, released in 2010 to critical acclaim and commercial success.

In earlier years, they won the 2008 Meteor Music Award for Best International Album and the 2008 Juno Award for Alternative Album of the Year for their second studio album, Neon Bible. They also received nominations for the Best Alternative Music Album Grammy for all three of their studio albums. The band's work has also been twice named as a short list nominee for the Polaris Music Prize in 2007 for Neon Bible and in 2011 for The Suburbs, winning the award for The Suburbs. In 2013, Arcade Fire released their fourth album Reflektor and scored the feature film Her, for which William Butler (current member of the band) and Owen Pallett were nominated for Best Original Score at the 86th Academy Awards.
			</textarea>
			<br />
			<p><input type="submit" value="Save" class="button"></p>

		</form>
	</div>