<!-- about.html -->
	<div>
		<h1>Music</h1>
		<a href="#music">Return to 'Edit Music'</a>
		<br />
		<br />
		<p>Edit Arcade Fire EP Biography</p>

		<form name="thesuburbspage" action="#" method="POST">
			<textarea cols="100" rows="20" name="bio">In the summer of 2002, Arcade Fire briefly went to Maine to record the EP, since frontman Win Butler's parents had recently moved there after his father got a land conservatory job. The following year, the band self-released the EP on their website and at their shows. Arcade Fire then met with record labels like Alien8, Absolutely Kosher, and Merge Records to release their debut album Funeral. The band eventually signed with Merge since frontman Win Butler liked bands such as Magnetic Fields and Neutral Milk Hotel who had previously signed with them. Butler said he felt really comfortable with Merge, but denied that there was an "indie label bidding war". In 2004, Merge started to release the EP through their website, "in an attempt to sate the demand of an audience that had quickly grown obsessed with" Funeral, according to Pitchfork Media. The next year, Merge remastered and repackaged the EP for stores.
			</textarea>
			<br />
			<p>iTunes link: <input type="text" name="AFEPiTunes"></p>
			<br />
			<p>Amazon link: <input type="text" name="AFEPAmazon"></p>
			<br>
			<p><input type="submit" value="Save"></p>
		</form>
	</div>