	<div>
		<h1>Music</h1>
		<ul><li>&#9658; <a href="#music">Return to 'Edit Music'</a></li></ul>
		<br />
		<p>Edit Funeral Biography</p>

		<form name="thesuburbspage" action="#" method="POST">
			<textarea cols="100" rows="10" name="bio">Funeral has received almost unanimous praise from music critics, and is hailed as a modern classic. At Metacritic, which assigns a normalized rating out of 100 to reviews from mainstream critics, the album has received an average score of 90, based on 30 reviews. It is listed at number 24 on Metacritic's list of highest scored albums of all time. AllMusic reviewer James Christopher Monger gave the album a rating of five stars out of five. He described it as "brave, empowering, and dusted with something that many of the indie-rock genre's more contrived acts desperately lack: an element of real danger." Rock critic Robert Christgau gave the album an A−, saying that Funeral was "...too fond of drama, but aware of its small place in the big world, and usually beautiful."
			</textarea>
			<br />
			<p>iTunes link: <input type="text" name="FuneraliTunes"></p>
			<br />
			<p>Amazon link: <input type="text" name="FuneralAmazon"></p>
			<br>
			<p><input type="submit" value="Save"></p>
		</form>
	</div>