	<div>
		<h1>Music</h1>
		<ul><li>&#9658; <a href="#music">Return to 'Edit Music'</a></li></ul>
		<br />
		<p>Edit Reflektor Biography</p>

		<form name="reflektorpage" action="#" method="POST">
			<textarea cols="100" rows="10" name="bio">The album's origins stem from a trip that both vocalist and guitarist Win Butler and multi-instrumentalist Régine Chassagne took to her family's home country of Haiti. Butler said: "Going to Haiti for the first time with Regine was the beginning of a major change in the way that I thought about the world. Usually, I think you have most of your musical influences locked down by the time you're 16. There was a band I feel changed me musically, just really opened me up to this huge, vast amount of culture and influence I hadn't been exposed to before, which was really life-changing." Inspired by the country's rara music, Butler and Chassagne incorporated elements of this sound into the band's new material, alongside Jamaican influences. Butler stated, "I mean, it's not like our band trying to play Haitian music. I just felt like we were opened up to a new influence. Bob Marley probably felt the same way the first time he heard Curtis Mayfield."
			</textarea>
			<br />
			<p>iTunes link: <input type="text" name="ReflekoriTunes"></p>
			<br />
			<p>Amazon link: <input type="text" name="ReflektorAmazon"></p>
			<br>
			<p><input type="submit" value="Save" class="button"></p>
		</form>
	</div>