	<div>
	<h1>Reformat Site Database</h1>
		<form action="/databaseReset" method="post" name="dbForm">
			<p>This will remove everything from database to allow a fresh installation from the set-up script. Your current bio, user accounts, featured videos, live dates and all other editable site sections will be permanently deleted. Please make sure you want to proceed before reformatting.</p>
			<br />

			<p><input type="submit" value="REFORMAT" id="submit" class="button"></p>
						<br />
			<p><em>Warning: this cannot be undone.</em></p>

		</form>
		<br />
	</div>