	<div>
		<h1>Music</h1>
		<ul><li>&#9658; <a href="#music">Return to 'Edit Music'</a></li></ul>
		<br />
		<p>Edit The Suburbs Biography</p>

		<form name="thesuburbspage" action="#" method="POST">
			<textarea cols="100" rows="10" name="bio">The album's lyrical content is inspired by band members Win and William Butler's upbringing in The Woodlands, Texas, a suburb of Houston. According to Win Butler, the album "is neither a love letter to, nor an indictment of, the suburbs – it's a letter from the suburbs". The album was recorded in Win Butler and Régine Chassagne's residence in Montreal, with some parts being recorded at the band's studio in Quebec and in New York City. Win Butler describes the overall sound of The Suburbs as "a mix of Depeche Mode and Neil Young", stating that he wanted the album to sound like "the bands that I heard when I was very young, and wondered what those crazy noises were".
			</textarea>
			<br />
			<p>iTunes link: <input type="text" name="TheSuburbsiTunes"></p>
			<br />
			<p>Amazon link: <input type="text" name="TheSuburbsAmazon"></p>
			<br>
			<p><input type="submit" value="Save"></p>
		</form>
	</div>