	<div>
		<h1>Your account settings</h1>

		<form name="changePassword" action="/changePass" method="post">
			Current Password: <input name="currentPassword" type="password" placeholder="Current Password" />	
			<p>New password: <input name="newPassword" type="password" placeholder="New Password" /></p>
			Confirm password: <input name="confPassword" type="password" placeholder="Confirm Password" />	
			</div>

			<div>
			<p><input type="submit" name="submit" value="Change Password" class="button" /></p>
			</div>
		</form>

		<br>
		<h1>Create new administrator</h1>
		Add new ArcadeFire.com administrator's details:
		<p>
		<br>
		<form name="newUser" action="/createUser" method="post">
			Username: <input name="newUsername" type="text" placeholder="New Username" /></p>
		<p>Email: <input name="newEmail" type="text" placeholder="example@address.com" /></p>
		<p>Password: <input name="newPass" type="password" placeholder="Temporary Password" /></p>
		<p>Confirm: <input name="confPass" type="password" placeholder="Confirm Password" /></p>

		<div>
			<p><input type="submit" name="submit" value="Create Account" class="button" /></p>
		</div>

	</div>