	<div>
	<h1>Video</h1>
		<form action="/saveVideo" method="post" onsubmit="return videoFormChecker();" name="videoForm">
			<p>Control ArcadeFire.com's featured YouTube videos by adding Youtube IDs below:</p>
			<br />
			<p>Default main video ID: <input type="text" name="left" value = "<%= adurl1%>"></p>
			<p>Default left video ID: <input type="text" name="middle" value = "<%= adurl2%>"></p>
			<p>Default right video ID: <input type="text" name="right" value = "<%= adurl3%>"></p>
			<br />
			<p><input type="submit" value="Save" id="submit" class="button"></p>
		</form>
	</div>