<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Admin Login</title>
  <link rel="stylesheet" href="css/admin.css">
</head>
<body>
<header>
  <div class="container">
    <h1><a href="/">Arcade Fire</a></h1>
  </div>
</header>
<main role="main">
  <div class="container">
      <h3><a href="/">Administrator Password Reset</a></h3>
      <div>Please enter the email address associated with your Arcade Fire administrator account:
      <div>	<form name="login-form" class="login-form" action="" method="post">
		<input name="email" type="text" class="input email" placeholder="name@arcadefire.com" />
		<div class="user-icon"></div>	
		</div>

		<div>
		<input type="submit" name="submit" value="Reset" class="button" />
		</div>
	
	</form></div>
  </main>
</div>

<footer>
  <div class="container">
    <p>If you are here by mistake, <a href="/">return to main site</a>.
  </div>
</footer>

</body>
</html>