<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Sorry!</title>
  <link rel="stylesheet" href="../css/admin.css">
</head>
<body>
<header>
  <div class="container">
    <h1>Access Denied!</h1>
  </div>
</header>
<main role="main">
  <div class="container">
      <h3>We're sorry, but it appears you already created a master admin account!</h3>
      <p>If you are the owner of the admin account '<b><%= master%></b>' please <a href="admin">log in</a>, or if you're having difficulties try <a href="admin_reset">resetting your password</a>. Thanks!</h3>  
  </main>
</div>

<footer>
  <div class="container">
    <p>If you are here by mistake, well, <a href="/">return to main site</a> already!</p>
  </div>
</footer>

</body>
</html>