<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Reinstall JJ CMS</title>
  <link rel="stylesheet" href="css/admin.css">
</head>
<body>
<header>
  <div class="container">
    <h1><a>Reformat JJ Content Management System</a></h1>
  </div>
</header>

<main role="main">
  <div class="container">
      <h3>The database has now been cleared. </h3>
      <p>To restore defaults please <a href="/install" alt="Installation Guide">follow the Install Guide</a>.
</div>
  </main>


<footer>
  <div class="container">
    <p>Thanks!</p>
  </div>
</footer>

</body>
</html>