* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #fff;
  height: 100%;
  width: 100%;
}

h1 { 
  font-weight: 300;
  font-size: 2.0em; 
}

p, li { 
  font-size: 1em; 
}

p h1 {
  color: #5D7799;
}

.clear { clear: both; }

#success {
  color: #49a33e;
}

#err {
  color: #a33e3e;
}

#header {
  background: #5D7799;
  color: #fff;
  padding: 15px 0 15px 15px;
}

#header a {
  color: #fff;
  text-decoration: none;
}

#content {
  padding: 0 30px 0 0;
  height: 100%;
  }

#sidebar {
  width: 15%;
  float: left;
  padding: 15px 0 0 15px;
  background: #eee;
  height: 100%;
  color: #777777; 
  }

#sidebar ul { 
  padding: 0 0 10px 0;
}

#sidebar li { 
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

#sidebar ul li a {
  text-decoration:none; 
  color:#444444;
  padding: 0 0 0 5px;
}


#sidebar ul li a:link {text-decoration:none;}
#sidebar ul li a:visited {text-decoration:none;}
#sidebar ul li a:hover {text-decoration:none; color:#aaaaaa;}
#sidebar ul li a:active {text-decoration:none; }

#main-content a {text-decoration:none; color:#5D7799;}
#main-content a:link {text-decoration:none;}
#main-content a:visited {text-decoration:none;}
#main-content a:hover {text-decoration:none; color:#aaaaaa;}
#main-content a:active {text-decoration:none; }


#main-content {
  margin: 0 0 0 17%;
  padding: 15px 0 0 15px;
}

#main-content ul{
  padding: 5px 0 0 20px;
}

#main-content li { 
  list-style: none;
  color: #ccc;
}

#main-content ul li a {
  padding: 0 0 0 10px;
}

#sidebar ul {
  list-style: inside;
}

.dates {
  max-width: 600px;
}

.show:nth-child(even) {
  background-color: #ccc;
  margin-bottom: 1px;
}
.show:nth-child(odd) {
  background-color: #eee;
  margin-bottom: 1px;
}

.show .date {
  display: block;
  float:left;
  width: 130px;
  padding: 50px 0 0;
  font-weight: 600;
  font-size: 16px;
}
.show .venue {
  display: block;
  float:left;
  text-align: left;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  padding-top: 40px;
}
.show .venue .city {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.venue .city {
  width: 300px;
}

.show .tickets {
  float:right;
  width: 130px;
  text-decoration: none;
  color: #ff0000;
  display: block;
  padding: 37px 0;
  font-weight: 600;
  font-size: 16px;
}

textarea {
  resize: none;
  outline: none;
  font-size: 14px;
  line-height: 22px;
  padding: 3px 8px;
}

input[type="text"]
{
  outline: none;
  width:200px;
  margin: 0 0 0 5px;
  font-size: 14px;
  line-height: 22px;
  margin: 4px 4px;
}

input[type="password"]
{
  outline: none;
  width:200px;
  margin: 0 0 0 5px;
  font-size: 14px;
  line-height: 22px;
  margin: 4px 4px;
}

.button {
    border: 1px solid #ccc;
    background: #fff;
    padding: 7px 15px;
}

select {
    background: #FFF;
    height: 30px;
      margin: 4px 0;
}