<!-- home.html -->
	<div>
		<h1>Arcade Fire Control Panel</h1>
		<br />
		<p>Welcome to the J&J CMS administration panel.</p>
		<br />
		<p>From here you are able to manage the content of your website quickly with ease. Use the navigation on the left to select the section of the site you'd like to edit and follow the options from there.</p>
		<br />
		<p>Please remember to 'save' your changes after you have made them in the specific section editors.</p>
		<br />
		<p><em>If you are having trouble with this editor, <a href="#">contact site administrator</a></em></p>
	</div>