	<div>
		<h1>Music</h1>
		<ul><li>&#9658; <a href="#music">Return to 'Edit Music'</a></li></ul>
		<br />
		<p>Edit Neon Bible Biography</p>

		<form name="thesuburbspage" action="#" method="POST">
			<textarea cols="100" rows="10" name="bio">Beginning work on Neon Bible immediately following a North American tour in support of the band's first album, Funeral, songwriter Win Butler, born in the United States but having lived in Canada for several years, said that he felt he was observing his homeland from an outsider's point of view. The album is rooted in Americana themes, with Bob Dylan, Bruce Springsteen and Elvis Presley being cited as influences. Arcade Fire began recording with what would become "Black Mirror" and a reworking of the Arcade Fire EP song "No Cars Go" as their starting point. Once the title of the album was decided upon, the band was further inspired after they, according to Will Butler, "watched a lot of TV preachers, get-rich-quick schemes on YouTube."
			</textarea>
			<br />
			<p>iTunes link: <input type="text" name="NeonBibleiTunes"></p>
			<br />
			<p>Amazon link: <input type="text" name="NeonBibleAmazon"></p>
			<br>
			<p><input type="submit" value="Save" class="button"></p>
		</form>
	</div>