* {
	margin: 0;
	padding: 0;
}

body {
	font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: url(images/content-bg.png) left repeat-y #fff;
	height: 100%;
	width: 100%;
}

h1 { 
	font-size: 3.0em; 
}

p, li { 
	font-size: 1em; 
}

.clear { clear: both; }

#header {
	background: #5D7799;
	color: #eee;
	padding: 15px 0 15px 15px;
}

#content {
	padding: 0 30px 0 0;
	height: 100%;
	}

#sidebar {
	width: 15%;
	float: left;
	padding: 15px 0 0 15px;
	background: #eee;
	height: 100%;
	}

#main-content {
	margin: 0 0 0 17%;
	padding: 15px 0 0 15px;
}

#sidebar ul {
	list-style: inside;
}

.dates {
	max-width: 600px;
}

.show:nth-child(even) {
  background-color: #ccc;
  margin-bottom: 1px;
}
.show:nth-child(odd) {
  background-color: #eee;
  margin-bottom: 1px;
}

.show .date {
  float:left;
  width: 130px;
  padding: 50px 0 0;
  font-weight: 600;
  font-size: 16px;
}
.show .venue {
  float:left;
  text-align: left;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  padding-top: 40px;
}
.show .venue .city {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.venue .city {
	width: 300px;
}

.show .tickets {
  float:right;
  width: 130px;
  text-decoration: none;
  color: #ff0000;
  display: block;
  padding: 50px 0;
  font-weight: 600;
  font-size: 16px;
}
