<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>403 - Forbidden</title>
  <link rel="stylesheet" href="../css/admin.css">
</head>
<body>
<header>
  <div class="container">
    <h1>Access Denied</h1>
  </div>
</header>
<main role="main">
  <div class="container">
      <h3>Oops. I'm sorry. Looks like you are not allowed here! This page is a restricted area. Get out of here before we call the authorities.</h3>
      <p>If you are supposed to be in here, please <a href="admin">log in</a> first. That should fix things!</p>  
  </main>
</div>

<footer>
  <div class="container">
    <p>Wrong place? You better hurry up and <a href="/">return to main site</a>, kiddo!</p>
  </div>
</footer>

</body>
</html>