<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>500 - Error</title>
  <link rel="stylesheet" href="css/admin.css">
</head>
<body>
<header>
  <div class="container">
    <h1><a href="/">500 - Error</a></h1>
  </div>
</header>
<main role="main">
  <div class="container">
      <h3>Something went wrong.... but we don't really know what it was. Was it you? Did you do this?</h3>  
  </main>
</div>

<footer>
  <div class="container">
    <p>Maybe you should just <a href="/">return to main site</a>, eh?</p>
  </div>
</footer>

</body>
</html>